<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nothing.testdemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:allowBackup,icon,theme,label,android:appComponentFactory"
        android:appComponentFactory="sss"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.AccessControlActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MyKeyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FileControlActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChangePwdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.NoticeActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>